:host{
    background-color: var(--header);
    border-radius: 5px;
    box-shadow: 0 0 10px -3px rgb(0 0 0 / 15%);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 1;
    width: 250px;
    height: 330px;
    flex-shrink: 0;
    margin-bottom: var(--space);
}

:host:hover{
    transform: scale(1.025);
}

.flag{
    width: 100%;
    height: 160px;
}

.description{
    padding: 20px 20px 0px 20px;
}

.description h3{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    color: var(--textMain);
    font-weight: var(--bolder);
    font-size: 19px;
    margin-bottom: 15px;
    line-height: 1;
}

.nameCont{
    height: 36px;
    margin-bottom: 6px;
}

.description h4{
    color: var(--key);
    font-size: 13px;
    font-weight: var(--bold);
    margin-bottom: 3px;
}

.description h4 span{
    color: var(--va);
    font-weight: var(--light);
}