:host{
    display: block;
    width: 100%;
    background-color: var(--bgSec);
    padding: 45px 75px;
    min-height: calc(100vh - 136px);
}

#list{
    display: flex;
    flex-wrap: wrap;
    --space: calc((100% - 1000px) / 3);
    column-gap: var(--space);
}