:root{
    --white: hsl(0, 0%, 100%);
    --white2: hsl(196 41% 95%);
    --offWhite: hsl(0, 0%, 98%);
    --gray: hsl(0 0% 25%);
    --blue1: hsl(209, 23%, 22%);
    --blue2: hsl(207, 26%, 17%);
    --key: hsl(220deg 4% 14%);
    --va: #020303;
    --header: var(--white);
    --textMain: #000;
    --textSec: var(--gray);
    --bgSec: var(--offWhite);
    --light: 300;
    --bold: 600;
    --bolder: 800;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    transition: background-color 0.2s, color 0.2s;
}

body{
    scroll-behavior: smooth;
}

.dark{
    --header: var(--blue1);
    --textMain: var(--offWhite);
    --textSec: var(--white2);
    --bgSec: var(--blue2);
    --key: hsl(180deg 30% 95%);
    --va: #bfbfbf;
}